.divButtons {
  display: flex;
  gap: 20px;
  min-width: 297px;
}

.button {
  text-decoration: none;
  color: white;
  padding: 16px 30px;
  border: 2px solid white;
  background-color: transparent;
  transition: 0.4s;
  letter-spacing: 2px;
}

.login:hover {
  background-color: white;
  color: var(--bg-color);
}

.criarLogin {
  background-color: rgb(0, 110, 255);
  border: 2px solid rgb(0, 110, 255);
}

.criarLogin:hover {
  background-color: rgb(0, 56, 129);
  border: 2px solid rgb(0, 56, 129);
}

.logado {
  display: flex;
  align-items: center;
  gap: 1em;
  cursor: pointer;
  color: white;
}

.loged {
  display: flex;
  flex-basis: 297px;
  justify-content: end;
}

.logado p {
  font-size: 1.2em;
  color: #cecece;
}

.userIcon {
  font-size: 3em;
}

.userImg {
  width: 40px;
  border-radius: 50%;
}

