.divButtons {
    display: flex;
    gap: 20px;
}

.divButtons a {
    text-decoration: none;
    color: white;
    padding: 16px 30px;
    border: 2px solid white;
    background-color: transparent;
    transition: 0.4s;
    letter-spacing: 2px;
}

.divButtons a:hover {
    background-color: white;
    color: var(--bg-color);
}