.main {
  background-color: beige;
  height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
}

.bloco {
  width: 1100px;
  margin: 80px 0px;
  margin-bottom: 80px;
  background-color: var(--bg-color);
  border-radius: 15px;
}

.minhaConta {
  font-size: 40px;
  margin: 40px 0px;
  text-align: center;
}

.minhaConta::after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  margin-top: 40px;
  background-color: #999999;
}

.fotoPerfil {
  width: 200px;
  border-radius: 100%;
  margin: 0px 80px;
}

.iconUser {
  width: 100%;
  height: 100%;
  color: #d9d9d9;
}

.fotoEBtn {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.components {
  display: flex;
}

.blocoDois {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.escritas {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blocoInput {
  border-radius: 5px;
}

.escritas input {
  width: 300px;
  padding: 8px;
  border: none;
  border-radius: 5px;
}

.btnEdit {
  color: var(--bg-color);
  background-color: white;
} 

.escritas p {
  color: #999999;
}

.buttons{
  display: flex;
  justify-content: space-between;
}

.button {
  border-radius: 100px;
  background-color: transparent;
  border: solid 2px #999999;
  color: #999999;
  padding: 8px;
}

.btnFoto {
  margin: auto;
}

.btnSalvar {
  color: #3B8F4D;
  border: solid 2px #3B8F4D;
}

.sair {
  display: flex;
  justify-content: center;
}

.btnSair {
  color: #ff0000;
  border: solid 2px #ff0000;
  margin-top: 40px;
}
