.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
}

.bloco {
  width: 400px;
  padding: 60px;
  background-color: white;
}

.titulo {
  font: 2.3em var(--font-cinzel);
  color: var(--bg-color);
  text-align: center;
  cursor: context-menu;
}

.criarConta {
  color: var(--bg-color);
  font:
    1.2em Arial,
    Helvetica,
    sans-serif;
  margin: 40px 0px 20px 0px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.blocos_input {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid var(--bg-color);
}

.blocos_input input {
  padding: 12px;
  width: 100%;
  border: none;
  outline: none;
}

.span {
  margin: 4px 0px;
}

.sucessInput {
  border: 1px solid green;
}

.errInput {
  border: 1px solid #f64348;
}

.icons {
  font-size: 1.6em;
  padding: 10px;
  color: black;
  cursor: pointer;
}

.botao {
  background-color: var(--bg-color);
  color: white;
  padding: 12px;
  cursor: pointer;
  border: var(--bg-color);
  transition: 0.2s;
  border-radius: 8px;
  margin-top: 20px;
}

.botao:hover {
  background-color: rgb(73, 73, 73);
}

.sucess {
  color: green;
  font-size: 0.75rem;
  margin: 0.25rem;
}

.err {
  color: #f64348;
  font-size: 0.75rem;
  margin: 0.25rem;
}

.possuiConta {
  color: var(--bg-color);
}

.cliqueAqui {
  color: var(--bg-color);
  text-decoration: none;
  font-weight: bold;
}
