@font-face {
  font-family: "Garet";
  src: url("../../font/Garet-Book.woff") format("woff");
}

.content {
  height: calc(100vh - 200px);
  background-image: url("../../assets/fundo-telefones.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloco {
  display: flex;
  background-color: rgba(124, 123, 123, 0.61);
  padding: 60px;
  width: 800px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  border-radius: 24px;
}

.h1 {
  font-family: Garet;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 520px;
  flex-wrap: wrap;
  gap: 40px;
  place-items: center;
}

.button {
  width: 200px;
  height: 120px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 12px;
  transition: transform .5s;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.logo {
  width: 40px;
}

.logoName {
  color: black;
  font-weight: bold;
  font-size: 1em;
}

.paragraf {
  color: var(--bg-color);
}


