main {
  height: 100%;
  color: white;
}

.fundoImg {
  width: 100%;
  background: url(../../img/fundo-programando.jpg) no-repeat center/cover;
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.divAtendimento {
  background-color: rgba(185, 185, 185, 0.603);
  padding: 50px 50px 60px 50px;
  margin: 50px;
}

.divAtendimento h3 {
  font-size: 3em;
}

.divAtendimento h4 {
  font-size: 1.5em;
  margin: 30px 0px;
}

.divAtendimento .comentario {
  font-size: 1.2em;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.botoes {
  display: flex;
  justify-content: space-between;
}

.botaoAgendamento {
  padding: 14px;
  font-size: 18px;
  border: 2px solid var(--bg-color);
  letter-spacing: 2px;
  position: relative;
  transition: all 0.35s;
  background-color: transparent;
  text-decoration: none;
  color: var(--bg-color);
}

.botaoAgendamento span {
  position: relative;
  z-index: 2;
}

.botaoAgendamento:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--bg-color);
  transition: all 0.35s;
}

.botaoAgendamento:hover {
  color: white;
  cursor: pointer;
}

.botaoAgendamento:hover:after {
  width: 100%;
}

.dracTem {
  text-align: center;
  font-size: 2.6em;
  padding: 54px 0px 14px 0px;
}

.divTemplates {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 40px 80px;
}
