main {
  height: 100%;
  color: white;
}

.fundoImg {
  width: 100%;
  background: url(../../assets/fundo-notebook.png) no-repeat right/cover;
  display: flex;
  align-items: center;
  height: calc(100vh - 250px);
}

.divAtendimento {
  margin-left: 60px;
  padding: 60px;
  gap: 10px;
}

.divAtendimento h3 {
  font-size: 3em;
  margin-bottom: 100px;
  line-height: 80px;
}

.divAtendimento h4 {
  font-size: 1.5em;
  margin: 30px 0px;
}

.divAtendimento .comentario {
  font-size: 1.2em;
  margin: 60px 0px;
}

.botoes {
  display: flex;
  justify-content: space-between;
}

.botao {
  padding: 14px;
  font-size: 18px;
  border: 2px solid var(--bg-color);
  letter-spacing: 2px;
  position: relative;
  transition: all 0.35s ease;
  background-color: transparent;
  text-decoration: none;
  color: var(--bg-color);
  color: white;
  background-color: var(--bg-color);
  padding: 16px 20px;
}

.verTemps {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 10px;
}

.botao:hover {
  cursor: pointer;
}

.dracTem {
  text-align: center;
  font-size: 2.6em;
  padding: 54px 0px 14px 0px;
}



.verTemps:hover .seta {
  transform: rotate(90deg);
  transition-duration: 0.3s
}

.seta {
  transition-duration: 0.3s
}


.divTemplates {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 40px 80px;
}

@media ( max-width: 1730px) {
  
}
