.template {
  flex-basis: 800px;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 8px;
  border: solid 2px #d3d3d3;
}

.img {
  width: 100%;
  height: 470px;
  border-radius: 8px 8px 0px 0px;
}

.title {
  margin: 20px;
  padding: 0px;
  text-align: center;
  color: white;
  font-size: 2em;
}

.description {
  margin: 0px 40px 40px 40px;
  color: #d3d3d3;
}

@media ( max-width: 1817px) {
  .template {
    flex-grow: 0;
    flex-basis: 1000px;
    min-width: 800px;
  }
}
