:root {
  --font-cinzel: "Cinzel", arial;
  --font-garet: "Garet", arial;
  --bg-color: rgb(37, 37, 37);
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: white;
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
}