ul {
  display: flex;
  list-style-type: none;
}

ul a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  height: 3px;
  left: 50%;
  border-radius: 50px;
  position: absolute;
  background-color: #fff;
  transition: 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

ul a:hover:after {
  width: 100%;
  left: 0;
}

li a {
  color: white;
  text-decoration: none;
  padding: 42px 10px;
  position: relative;
  letter-spacing: 0.15em;
}

.active:after {
  width: 100%;
  left: 0;
}
